header {
  text-align: center;
}
header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}
nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topmenu:after {
  content: "";
  display: table;
  clear: both;
}
.topmenu > li {
  width: 25%;
  float: left;
  position: relative;
}
.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 15px 30px;
}
.vkzvet:hover { background: linear-gradient(90deg, #3640ad , #e67c7d ); }
.instzvet:hover { background: linear-gradient(90deg, #e66465, #9198e5); }
.vtoro:hover { background: linear-gradient(#c382e8, #2f2e30); }
.submenu {
  background: #273037;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  opacity: 1;
}
.submenu li:last-child a { border-bottom: none; }
.topmenu > li:hover .submenu {
  transform: scaleY(1);
  opacity: 1;
}


